@define-color accent_color #8CBAC2;
@define-color accent_fg_color #46829A;
@define-color accent_bg_color #8CBAC2;
@define-color window_bg_color #222034;
@define-color window_fg_color #E3E1F5;
@define-color headerbar_bg_color #222034;
@define-color headerbar_fg_color #E3E1F5;
@define-color popover_bg_color #222034;
@define-color popover_fg_color #E3E1F5;
@define-color view_bg_color #26233A;
@define-color view_fg_color #E3E1F5;
@define-color card_bg_color #26233A;
@define-color card_fg_color #E3E1F5;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
