* {
  background: transparent;
  font-family: "Science Gothic";
  font-size: 350px;
  font-weight: 800;
  color: {{background}};
  text-shadow: 0 0 2px {{foreground}};
}

.hour-only {
  font-size: 700px;
  font-weight: 800;

  margin: 0px;
  padding: 0px;
  margin-top: -220px;
  margin-bottom: -220px;
}

.ehour {
  font-size: 500px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  margin-top: -110px;
  margin-bottom: -110px;
  margin-right: -110px;
  margin-left: 110px;
}

.vmin label {
  margin: 0px;
  padding: 0px;
  margin-top: -150px;
  margin-bottom: -150px;
  margin-left: -100px;
  margin-right: 100px;
}

.hour, .min {
  margin: 0px;
  padding: 0px;
  margin-top: -110px;
  margin-bottom: -110px;
}

