@define-color accent_color #8EB95F;
@define-color accent_fg_color #87ABF8;
@define-color accent_bg_color #8EB95F;
@define-color window_bg_color #3B415E;
@define-color window_fg_color #B2B9DA;
@define-color headerbar_bg_color #3B415E;
@define-color headerbar_fg_color #B2B9DA;
@define-color popover_bg_color #3B415E;
@define-color popover_fg_color #B2B9DA;
@define-color view_bg_color #414868;
@define-color view_fg_color #B2B9DA;
@define-color card_bg_color #414868;
@define-color card_fg_color #B2B9DA;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
