/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #E0DEF4;
@define-color background #191724;
@define-color foreground #E0DEF4;
@define-color color0  #26233A;
@define-color color1  #EB6F92;
@define-color color2  #9CCFD8;
@define-color color3  #F6C177;
@define-color color4  #31748F;
@define-color color5  #C4A7E7;
@define-color color6  #EBBCBA;
@define-color color7  #E0DEF4;
@define-color color8  #6E6A86;
@define-color color9  #EB6F92;
@define-color color10 #9CCFD8;
@define-color color11 #F6C177;
@define-color color12 #31748F;
@define-color color13 #C4A7E7;
@define-color color14 #EBBCBA;
@define-color color15 #E0DEF4;
