/* @import '../../.cache/hellwal/waybar-colors.css'; */
@import url("colors.css");
/* -- Global rules -- */
* {
  border: none;
  font-family: "FiraCode Nerd Font SemBd";
  font-size: 20px;
  min-height: 18px;
}

window#waybar {
  background: rgba(34, 36, 54, 0.0);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-piicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#window,
#language {
  color: @color0;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-piicon,
#cpu,
#window,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#temperature,
#window,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-piicon {
  font-size: 25px;
  color: @foreground;
  background: @background;
  padding-right: 17px;
}

#clock {
  background: @color1;
  color: @foreground;
}

#cpu {
  background: @color2;
  color: @foreground;
}

#memory {
  background: @color3;
  color: @foreground;
}

#disk {
  background: @color4;
  color: @foreground;
}

#temperature {
  background: @color5;
  color: @foreground;
}

#window {
  background: @color6;
  color: @foreground;
}

/* Modules center */
#workspaces {
  background: @background;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: @foreground;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.urgent {
  color: red;
}

#workspaces button.focused {
  color: @cursor;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.active {
  color: @cursor;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: #89B4FA;
}

#workspaces button.active:hover {}

#mode {
  background: rgba(100, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
  color: white;
}

/* Modules right */
#scratchpad,
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#scratchpad button,
#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#scratchpad button.active,
#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#scratchpad button:hover,
#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#idle_inhibitor {
  background: @color7;
  color: black;
  padding-right: 15px;
}

#pulseaudio {
  min-width: 55px;
  color: @foreground;
  background: @color8;
}

#network {
  background: @color9;
  color: @foreground;
  padding-right: 13px;
}

#language {
  background: @color10;
  color: @foreground;
  padding-right: 15px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
