@import './colors.css';

* {
    font-family: "FiraCode Nerd Font SemBd", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background: url("../../.local/wallpaper");
	background-size: cover;
	font-size: 16pt;
}

button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	animation: gradient_f 20s ease-in infinite;
	border-radius: 80px;
	border:1px;
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	color: @foreground;
	background-color: alpha(@background, 0.8);
}

button:focus {
	background-color: alpha(@background, 0.9);
    background-size: 25%;
	border: 0px;
}

button:hover {
    background-color: alpha(@background, 1.0);
    color: @cursor;
    background-size: 30%;
    margin: 30px;
    border-radius: 80px;
    box-shadow: 0 0 50px @border;
}

button span {
    font-size: 1.2em;
}

#lock {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/reboot.png"));
}
